{% load static %}

<script>
    async function onDelete() {
          
        await fetch("/member/{{team_member.id}}/delete/", {method: 'POST'})
        
        location.href = '/'
    }
    
    window.onload = function(){ 
 
      {% if team_member != None %}
        document.getElementById("deleteButton").onclick = onDelete
      {% endif %}
      
    } 
    
</script>

<link rel="stylesheet" href="{% static 'members/style.css' %}">

{% if form.errors %}
    <div>
        {{ form.errors }}
    </div>
{% endif %}

<br>

{% if team_member == None %}
<span class="heading">Add a team member</span> 
<br>

<span class="subheading">Set email, location and role.</span>
<br><br>
{%else %}
<span class="heading">Edit team member</span> 
<br>

<span class="subheading">Edit contact info, location and role.</span>
<br><br>
{% endif %}

<hr>

<br>
<form action="/member/" method="post">
    {% csrf_token %}
    
    <span class="field-heading">Info</span>
    
    {{ form.Id }}
    {{ form.FirstName }}
    {{ form.LastName }}
    {{ form.Email }}
    {{ form.Phone }}
    
    <br><br><span class="field-heading">Role</span><br><br>
    
    {% for radio in form.Role %}
        {{ radio.choice_label }}
        <span class="radio">{{ radio.tag }}</span>
        <hr>
        
    {% endfor %}
    
    <br>
    <input type="submit" class="button savebutton" value="Save" title="Save" id="saveButton">
    {% if team_member != None %}
    <button type="button" class="button deletebutton" id="deleteButton" title="Delete">Delete</button>
    {% endif%}
</form>

