{% load static %}

<link rel="stylesheet" href="{% static 'members/style.css' %}">

<button id="addButton" class="addbutton" ><img src="{% static 'members/plus.png' %}" /></button>

<br><br>

<span class="heading">Team members</span> <br>

<span class="subheading">You have {{ team_member_list|length }} team members.</span>
<br><br><br>

<hr><br>
<ul>
    {% for team_member in team_member_list %}
        <li>
            
            <div>
            <table>
              <tr>
                <td>
                <img src="{% static 'members/head.png' %}" width="70">
                </td>
                <td>
                <div>
                  {%if team_member.id == current_team_member_id %}
                    <span class="titletext"><a>{{ team_member.FirstName  }} {{  team_member.LastName }} {{ team_member.getAdmin }}</a></span><br>
                  {% else %}
                    <span class="titletext"><a href="/member/{{ team_member.id }}/">{{ team_member.FirstName  }} {{  team_member.LastName }} {{ team_member.getAdmin }}</a></span><br>
                  {%endif %}
                <span class="bodytext">{{ team_member.Phone  }}</span><br>
                <span class="bodytext">{{ team_member.Email  }}</span><br>
                </div>
                </td>
              </tr>
            </table>  
            </div>
            <br><hr><br>
        </li>
    {% endfor %}
</ul>



<script type="text/javascript">

    function onAdd() {

        location.href = '/member/'

    };
    
    document.getElementById("addButton").onclick = onAdd
    
/**
                {%if team_member.id == 1 %}
                  <span class="titletext"><a>{{ team_member.FirstName  }} {{  team_member.LastName }} {{ team_member.getAdmin }}</a></span><br>
                {% else %}
                  <span class="titletext"><a href="/member/{{ team_member.id }}/">{{ team_member.FirstName  }} {{  team_member.LastName }} {{ team_member.getAdmin }}</a></span><br>
                {%endif %}

**/    

</script>